[user]
	email = hurd@aliseon.com
	name = hurd
[core]
	autocrlf = false
	safecrlf = true
	preloadindex = true
	fscache = true
	excludesfiles = /home/hurd/.gitignore_global
	editor = vim
[gc]
	auto = 256
[push]
	default = matching
[color]
	status = always
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
